<div class="container" style="width:600px; margin:0 auto; background-color:red;margin-bottom: 50px;">
    <h1>Stupid Coaching</h1>
    <form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="Ask your coach anything...">
  <input type="submit" value="Ask!">
</form>
</div>




